header {
    nav {
        display: flex;
        justify-content: space-between;

        .logo {
            span {
                display: none;
            }
        }

        .droplist {
            display: relative;

            .dropdown {
                //display:none;
                position: absolute;
                width: 5rem;
                background-color: mediumpurple;
               right: 10;
            }
        }
    }
}

// PICTURE
.main-pic {
    text-align: center;

    img {
        position: absolute;
        top: 30vw;
        transform: translate(-50%, -50%);
    }

    .portrait:hover::after {
        position: absolute;
        top: 15vw;
        left: 50%;
        transform: translateX(-50%);
    }
}

.icons {
    position: relative;
    font-size: 4rem;
    .fa-solid {
        position: absolute;
    }

    .fa-desktop {
        top: 80;
        left: 15;
        transform: rotate(16deg);
    }

    .fa-computer-mouse {
        right: 40;
        top: 50;
        transform: rotate(-30deg);
    }

    .fa-keyboard {
        bottom: -200;
        left: 180;
    }

    .fa-server {
        bottom: -280;
        right: 20;
        transform: rotate(-12deg);
    }

    .fa-laptop {
        bottom: -330;
        left: 100;
        transform: rotate(12deg);
    }
}

// MAIN
main {
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        max-width: 90%;
        margin: 0 auto;
        padding: 2rem;

        .project {
            flex: 1;
            display: flex;
            justify-content: center;
            margin: 0 1rem;
            position: relative;
            text-align: center;
        }
        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// CONTACT
.start {
    position: relative;

    div {
        position: absolute;
        top: -35;
        left: 50%;
        transform: translateX(-50%);
    }
}

//FOOTER
footer {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    main {
        .info {
            margin-top: 3rem;
        }
    }

    .icons {
        font-size: 4.5rem;
        .fa-desktop {
            top: 120;
            left: 30;
        }

        .fa-computer-mouse {
            right: 200;
            top: 100;
        }

        .fa-keyboard {
            bottom: -250;
            left: 280;
        }

        .fa-server {
            bottom: -280;
            right: 120;
        }

        .fa-laptop {
            bottom: -330;
            left: 200;
        }
    }
}

@media (min-width: 1023px) {
    header {
        nav {
            .logo {
                span {
                    display: inline;
                    margin-right: 2rem;
                }
            }

            .menu {
                a {
                    display: block;
                }

                label {
                    display: block;

                    .fa-xmark {
                        position: absolute;
                        right: 21;
                    }
                }

                .menu-content {
                    display: none;
                    overflow: hidden;
                    position: absolute;
                    right: 1;
                }
            }
        }
    }

    .icons {
        .fa-solid {
            display: none;
        }
    }

    main {
        .projects {
            padding: 3rem;
        }
    }
}
