@font-face {
  font-family: "Helvetica";
  src: url(../../font/Helvetica-Bold.ttf);
}

body {
  font-family: "Helvetica", sans-serif;
  color: $Navy;
}

a {
  text-decoration: none;
}

//HEADER
header {
  height: 30vw;
  background-image: linear-gradient(to right bottom, #abd699, #9bd4a1, #8cd1a8, #7fcdb0, #75c9b7);
  color: white;
  padding: 0 1rem;

  nav {
    .logo {
      font-weight: 900;
      font-size: 5.5rem;
      text-shadow: 4px 3px 0px #7a7a7a;
    }

    // RIGHT MENU
    .droplist {
      h3 {
        font-size: 3rem;
        text-shadow: 4px 3px 0px #7a7a7a;
      }

      .dropdown {
        width: 8rem;
        list-style: none;
        a {
          font-size: 1.5rem;
        }
      }
    }

    .droplist:hover .dropdown {
      display: block;
    }
    a:hover {
      text-shadow: -3px 0px 16px rgb(199, 221, 204);
      color: $Fresh-Lemon;
    }
  }
}

// PICTURE
.main-pic {
  img {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
  }

  .portrait:hover::after {
    content: "Contact me!";
    background-color: rgb(0, 0, 0, 0.7);
    line-height: 30vw;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    color: $Mint;
    font-size: 1rem;
  }
}

.icons {
  color: #fef9db;
  font-size: 4rem;

  .fa-computer-mouse:hover {
    transform: rotate(360deg);
    transition: all 1s linear;
  }
}

// MAIN
main {
  background-color: $Mint;
  padding-top: 8rem;

  //TEXT
  .info {
    text-align: center;
    font-size: 16px;
    padding: 5%;
    z-index: 5;
    position: relative;

    p:nth-of-type(1) {
      font-size: 21px;
    }
  }

  h2 {
    text-align: center;
    font-size: 21px;
  }

  //VIEW MORE
  .more {
    text-align: center;
    padding: 1rem 0 4rem 0;
    font-size: 18px;

    a {
      color: $Navy;
    }
  }

  //CARDS SECTION
  .projects {
    .text {
      background-color: rgb(0, 0, 0, 0.7);
      padding: 9rem 10.5rem;
      clip-path: circle(0% at 52% 51%);
      transition: 0.8s;

      a {
        color: $Fresh-Lemon;
        font-size: 2rem;
      }
    }

    .two {
      a {
        padding: 3rem;
      }
    }

    .three {
      a {
        padding: 1rem;
      }
    }

    .five {
      a {
        padding: 1rem;
      }
    }

    .six {
      a {
        padding: 0.3rem;
      }
    }

    .project:hover .text {
      clip-path: circle(73.2% at 52% 51%);
      color: $Fresh-Lemon;
    }
  }
}

// CONTACT
.start {
  width: 100%;

  div {
    text-align: center;
    background-color: $Navy;
    width: 90%;
    padding: 2rem;
    border-radius: 2rem;

    a {
      font-size: 18px;
      color: $Teal;
    }
  }
}

//FOOTER
footer {
  background-image: linear-gradient(to right bottom, #abd699, #9bd4a1, #8cd1a8, #7fcdb0, #75c9b7);
  color: white;
  padding: 5rem 0 2rem 0;

  ul {
    font-size: 21px;
    list-style: none;

    a {
      color: $Fresh-Lemon;
    }
  }
}

@media (min-width: 1023px) {
  main {
    padding-top: 18rem;

    .info {
      font-size: 21px;
      max-width: 80%;
      margin: 2rem auto;
      p:nth-of-type(1) {
        font-size: 41px;
      }
    }

    h2 {
      font-size: 26px;
    }

    .projects {
      .text {
        background-color: rgb(0, 0, 0, 0.7);
        padding: 14rem 15.5rem;
        clip-path: circle(0% at 52% 51%);
        transition: 0.8s;
      }

      .project:hover .text {
        clip-path: circle(73.2% at 52% 51%);
      }

      .two {
        a {
          padding: 3rem;
        }
      }

      .three {
        a {
          padding: 1.5rem;
        }
      }

      .five {
        a {
          padding: 1.2rem;
        }
      }

      .four {
        a {
          padding: 0;
        }
      }
    }
  }

  footer {
    padding: 6rem 0 2rem 0;
    ul {
      font-size: 26px;
    }
  }

  .main-pic {
    .portrait:hover::after {
      font-size: 3rem;
    }
  }
}
