// $dark-blue: #5680e9;
// $light-blue: #84ceeb;
// $medium-blue: #5ab9ea;
// $light-purple: #d6b2f7;
// $purple: #8860d0;

$Light-Lime: #abd699;
$Fresh-Lemon: #ffe26a;
$Teal:#75c9b7;
$Mint:#c7ddcc;
$Navy:#1e1953;


